# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Project specific
config.yaml
rangecrawler.db
tests/mock_env/test_config.yaml
gemini.*
.ruff_cache/

# Rust artifacts
target/
Cargo.lock

# GitHub / IDE
.vscode/
.idea/
.DS_Store
